# git+git://github.com/lunarbridge/pytorch_sound@master#egg=pytorch_sound
# tgt
# tqdm
# joblib
# Unidecode==1.0.22
# # speech_interface
# git+git://github.com/lunarbridge/SpeechInterface@main#egg=speech_interface
# librosa==0.8.0
# pyworld
# scikit-learn
# torch==1.7.0
# numpy==1.20.0
# git+git://github.com/appleholic/fastspeech2@main#egg=fastspeech2
torchserve==0.4.2
torch-model-archiver==0.4.2
torch-workflow-archiver==0.1.2